@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0px;
    background-color: #08032e;
    color: rgb(229, 226, 226);
    font-family: "Playfair", sans-serif;
    font-size : 20px; 
}

header {
    background-color:#0b053c;
    border-bottom: 4px solid rgb(125, 102, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(229, 226, 226);
    height: 60px;
    font-size: 25px;
    font-family: "Playfair", sans-serif;
    font-weight: 600;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    background-color: #0d1386;
}

main {
    display: flex;
}

main nav {
    flex-grow: 1;
}

#details {
    border-radius: 5px;
    margin: 20px;
    margin-top: 98px;
    height: fit-content;
    position: sticky;
    top: 20px;
    overflow: hidden;
}

#details img {
    width: 100%; 
    height: auto; 
    max-height: 50vh; 
    object-fit: contain; 
}

#details section {
    width: 100%; 
    height: auto; 
    min-height: 50px; 
    padding: 10px; 
}


#details section h1 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#app {
    padding: 20px;
}



.horizontal-card {
    background: linear-gradient(#020c3a, #030f45, #020c3a);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    max-height: 80px;
    cursor: pointer;
    transition: 0.3s;
    outline: 2px solid transparent;
    font-size: 20px;
}

.horizontal-card:hover {
    outline: 2px solid #4341c8;
}

.horizontal-card img {
    border-radius: 10px 0px 0px 10px;
    height: 80px;
    width: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

*{
    box-sizing: border-box;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 350px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    font-family: "Playfair";
    font-weight: 100;
    letter-spacing: 1px;
    outline: none;
    padding-right: 40px;
    color:rgb(229, 226, 226);
}

.input-search::placeholder{
    color:rgb(229, 226, 226);
    font-size: 18px;
    font-family: "Playfair";
    font-weight: 100;
}

.btn-search{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    top:5px;
    right: 10px;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.btn-search ~ .input-search{
    width: 350px;
    border-radius: 0px;
    background-color: transparent;
}

#smash-logo, #pass-logo{
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#smash-button, #pass-button {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease, filter 0.2s ease;
    border: none;
}

#smash-button:hover, #pass-button:hover {
    transform: scale(1.02); 
    filter: brightness(0.90);
    outline: 2px solid white;
}

#infos {
    color: rgb(255, 255, 255);
}

#smash-logo, #pass-logo {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* Material icons */
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v228/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDB_Qb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded Filled';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v228/syl0-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvDmUSVOK7BDJ_vb9vUSzq3wzLK-P0J-V_Zs-QtQth3-jOcbTCVpeRL2w5rwZu2rIelXxc.woff2) format('woff2');
}
  
.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded.filled {
    font-family: 'Material Symbols Rounded Filled';
}

/* Style pour le conteneur principal de Smash or Pass */
nav#app .smash-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Style pour la carte du personnage dans Smash or Pass */
nav#app .character-card {
    width: 100%;
    max-width: 500px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-align: center;
}

/* Style pour l'image dans la carte du personnage */
nav#app .character-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-height: 450px;
}

/* Style pour le titre dans la carte du personnage */
nav#app .character-card h2 {
    font-size: 30px;
    margin: 15px 0;
    color: rgb(229, 226, 226);
}

/* Style pour les boutons d'action spécifiques à Smash or Pass */
nav#app .action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    gap : 20px;
}

/* Style pour les boutons spécifiques à Smash or Pass */
nav#app .smash-button, 
nav#app .pass-button {
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Style spécifique pour le bouton Smash */
nav#app .smash-button {
    background-color: rgb(33, 178, 204);
    color: #000;
}

nav#app .smash-button:hover {
    background-color: rgb(37, 243, 229);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Style spécifique pour le bouton Pass */
nav#app .pass-button {
    background-color: rgb(33, 178, 204);
    color: #000;
}

nav#app .pass-button:hover {
    background-color: rgb(37, 243, 229);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Style pour les boutons de fin */
nav#app .reset-button,
nav#app .back-button {
    text-align: center;
    padding: 8px 8px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    min-width: 150px;
}

/* Style pour le bouton Recommencer */
nav#app .reset-button {
    background-color: rgb(33, 150, 243);
    color: rgb(229, 226, 226);
}

nav#app .reset-button:hover {
    background-color: rgb(63, 170, 255);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Style pour le bouton Retour à la liste */
nav#app .back-button {
    background-color: rgb(96, 125, 139);
    color: rgb(229, 226, 226);
}

nav#app .back-button:hover {
    background-color: rgb(116, 145, 159);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Style pour la pagination */
.paginationjs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paginationjs.paginationjs .paginationjs-pages li {
    border-color: #12295b !important;
}

.paginationjs.paginationjs .paginationjs-pages li>a {
    color: #12295b !important;
}

.paginationjs.paginationjs .paginationjs-pages li>a:hover {
    background: #123a71 !important;
    color: rgb(229, 226, 226) !important;
}

.paginationjs.paginationjs .paginationjs-pages li.active>a {
    background: #12295b !important;
    color: rgb(229, 226, 226) !important;
}

.paginationjs.paginationjs .paginationjs-go-button>input[type=button] {
    background: #12295b !important;
    border-color: #12295b !important;
    color: rgb(229, 226, 226) !important;
}

.paginationjs.paginationjs .paginationjs-go-button>input[type=button]:hover {
    background-color: #123a71 !important;
}

/* Style de la barre de progression */
.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #4d4c4c;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: rgb(125, 102, 9);
    width: 0%;
    transition: width 0.3s ease-in-out;
}

#reset {
    background-color: #ff4d4d; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    margin-bottom: 20px;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
}

#reset:hover {
    background-color: #cc0000;
    transform: scale(1.05); 
}

#reset:active {
    background-color: #a30000; 
    transform: scale(0.95); 
}

